= render "weixin_groups/tab"

#request_users

:coffee

  $.ajax
    url: '#{request_users_public_account_weixin_users_path(@public_account)}'
    method: "get"
    error: ->
      $("#request_users").html "#{t('error_loading')}"
    success: (data) ->
      $("#request_users").html data
    beforeSend: ->
      $("#request_users").html "#{t('loading')}"