.container
  .row.good-list
    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p
          %a.delete_link.pull-right
            %i.fa.fa-trash

    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p
          %a.delete_link.pull-right
            %i.fa.fa-trash

    .col-xs-12
      .col-xs-3
        %a.thumbnail
          = image_tag("tag_cloud.jpg")
      .col-xs-9.pull-right
        %p.title
          我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
        %p.price
          价格: RMB 255
        %p
          %a.delete_link.pull-right
            %i.fa.fa-trash


