%form
  .input-group
    %input.form-control{:placeholder => "Search", :type => "text"}
    %span.input-group-btn
      %a.btn.btn-danger{:type => "button"}
        %span.glyphicon.glyphicon-search
        = t('search')
.row
  .col-md-12
    %ul.nav.nav-pills.nav-home#goods-category-nav
      %li.disabled{:role => "presentation"}
        %a{:href => "#"} 所有
      %li
        %a{:href => "#"} 女装
      %li
        %a{:href => "#"} 男装
      %li
        %a{:href => "#"} 孩童
      %li
        %a{:href => "#"} 配饰
      %li
        %a{:href => "#"} 美容
      %li
        %a{:href => "#"} 科技
      %li
        %a{:href => "#"} 居家
      %li
        %a{:href => "#"} 户外
      %li
        %a{:href => "#"} 文化
      %li
        %a{:href => "#"} 美食
      %li
        %a{:href => "#"} 玩乐


.row
  .col-md-12
    .thumbnail
      .img-box
        %a{:href => "#"}
          = image_tag("tag_cloud.jpg")
      .caption
        %h3 XX商品XX商品XX商品
        %p 某某商品的简单描述某某商品的简单描述某某商品的简单描述
        %p
          %a.btn.btn-danger.pull-left{:href => "#", :role => "button"}
            %i.fa.fa-shopping-cart
            加入购物车
          %a.btn.btn-warning.pull-right{:href => "#", :role => "button"}
            %i.fa.fa-rmb
            立即购买
          .clearfix
  .col-md-12
    .thumbnail
      .img-box
        %a{:href => "#"}
          = image_tag("tag_cloud.jpg")
      .caption
        %h3 XX商品XX商品XX商品
        %p 某某商品的简单描述某某商品的简单描述某某商品的简单描述
        %p
          %a.btn.btn-danger.pull-left{:href => "#", :role => "button"}
            %i.fa.fa-shopping-cart
            加入购物车
          %a.btn.btn-warning.pull-right{:href => "#", :role => "button"}
            %i.fa.fa-rmb
            立即购买
          .clearfix
  .col-md-12
    .thumbnail
      .img-box
        %a{:href => "#"}
          = image_tag("tag_cloud.jpg")
      .caption
        %h3 XX商品XX商品XX商品
        %p 某某商品的简单描述某某商品的简单描述某某商品的简单描述
        %p
          %a.btn.btn-danger.pull-left{:href => "#", :role => "button"}
            %i.fa.fa-shopping-cart
            加入购物车
          %a.btn.btn-warning.pull-right{:href => "#", :role => "button"}
            %i.fa.fa-rmb
            立即购买
          .clearfix
