.container
  .row
    .col-md-12
      #banner
        %ul
          %li
            %a.thumbnail{:href => "#"}
              = image_tag("shops.jpg", :width=> "100%")
          %li
            %a.thumbnail{:href => "#"}
              = image_tag("shops.jpg", :width=> "100%")
          %li
            %a.thumbnail{:href => "#"}
              = image_tag("shops.jpg", :width=> "100%")


      .panel.panel-default
        .panel-heading
          【国行限量版】Xbox One 体感游戏主机 （带 Kinect 版本,Day One 限量版,含四款免费游戏）
        %table.table
          %tr
            %td
              价格:
            %td
              75RMB
          %tr
            %td
              销量:
            %td
              15,000.00件

.container
  .row
    .col-md-12
      %ul#goods_nav.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"aria-controls" => "intoduction", "data-toggle" => "tab", :href => "#intoduction", :role => "tab"} 商品介绍
        %li
          %a{"aria-controls" => "parameters", "data-toggle" => "tab", :href => "#parameters", :role => "tab"} 商品参数
        %li
          %a{"aria-controls" => "appraise", "data-toggle" => "tab", :href => "#appraise", :role => "tab"} 商品评价
      .tab-content
        #intoduction.tab-pane.fade.in.active
          商品描述
          %br
          \==============罪恶的分割线==============
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br
          我是一条商品描述...
          %br

        #parameters.tab-pane.fade
          %table.table.rm-table-top-border
            %tr
              %td
                数量:
              %td
                1
            %tr
              %td
                大小:
              %td
                14 * 14
        #appraise.tab-pane.fade
          %ul.list-group
            %li.list-group-item.li-no-border.border-top
              %p
                我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论
              %p.pull-right
                2012-12-4 15:30
              %p
                I'm author
            %li.list-group-item.li-no-border.border-top
              %p
                我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论我是长评论
              %p
                I'm author


:javascript
  jQuery(function($) {
    $(document).ready( function() {
      var slidey = $('#banner').unslider();
      /*
      var startPos = null;
      $("#banner").on("touchstart",function(event){
        event.preventDefault();
        //console.log(event);
        startPos = {
          X: event.originalEvent.changedTouches[0].clientX,
          Y:event.originalEvent.changedTouches[0].clientY
        }
      });

      $("#banner").on("touchend",function(event){
        //console.log(event);
        endPos = {
          X: event.originalEvent.changedTouches[0].clientX,
          Y: event.originalEvent.changedTouches[0].clientY
        }
        var index = startPos.X - endPos.X;
        if(index > 0 && index > 100){
          slidey.data("unslider").next();
        } else if(index < 0 && index < -100){
          slidey.data("unslider").prev();
        }
      }); */

      var MyTouch = {
        touch: ('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch,
        events: {
          handleEvent: function(event){
            this[event.type](event);
          },
          touchstart: function(event){
            event.preventDefault();
            this.startPos = {
              X: event.changedTouches[0].clientX,
              Y:event.changedTouches[0].clientY
            };
          },
          touchend: function(event){
            var endPos = {
              X: event.changedTouches[0].clientX,
              Y: event.changedTouches[0].clientY
            };
            var index = this.startPos.X - endPos.X;
            if(index > 100){
              if(typeof this.next == "function"){
                this.next();
              }
            } else if(index < -100){
              if(typeof this.prev == "function"){
                this.prev();
              }
            }
          }
        },
        init: function(option){
          var self = this;
          this.target = option.target;
          this.events.next = option.next;
          this.events.prev = option.prev;
          this.target.addEventListener("touchstart", this.events, false);
          this.target.addEventListener("touchend", this.events, false);
        }
      }
      var banner = document.getElementById("banner");
      MyTouch.init({
        target: banner,
        prev: function(){
          slidey.data("unslider").prev();
        },
        next: function(){
          slidey.data("unslider").next();
        }
      });

      $('#goods_nav').stickUp();
    });
  });
