.container
  .row
    .col-xs-12
      %ul.list-group#shopping-cart
        %li.list-group-item
          .col-xs-1.pull-left
            %input.icheck-me{:type => 'checkbox', data: {"color" => "blue", "skin" => "square"}}
          .col-xs-3.pull-left
            %a.thumbnail
              = image_tag("tag_cloud.jpg")
          .col-xs-8.pull-left
            %p.title
              我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
            %p.price
              价格: RMB 255
            %a.delete_link.pull-right
              %i.fa.fa-trash
            .input-group.quantity
              %span.input-group-btn
                %button.btn.btn-danger.btn-number.btn-xs{"data-field" => "quantity1", "data-type" => "minus", :type => "button"}
                  %span.glyphicon.glyphicon-minus
              %input.form-control.input-number.input-xs{:max => "100", :min => "1", :name => "quantity1", :type => "text", :value => "10"}/
              %span.input-group-btn
                %button.btn.btn-success.btn-number.btn-xs{"data-field" => "quantity1", "data-type" => "plus", :type => "button"}
                  %span.glyphicon.glyphicon-plus
          .clearfix


        %li.list-group-item
          .col-xs-1.pull-left
            %input.icheck-me{:type => 'checkbox', data: {"color" => "blue", "skin" => "square"}}
          .col-xs-3.pull-left
            %a.thumbnail
              = image_tag("tag_cloud.jpg")
          .col-xs-8.pull-left
            %p.title
              我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
            %p.price
              价格: RMB 255
            %a.delete_link.pull-right
              %i.fa.fa-trash
            .input-group.quantity
              %span.input-group-btn
                %button.btn.btn-danger.btn-number.btn-xs{"data-field" => "quantity2", "data-type" => "minus", :type => "button"}
                  %span.glyphicon.glyphicon-minus
              %input.form-control.input-number.input-xs{:max => "100", :min => "1", :name => "quantity2", :type => "text", :value => "10"}/
              %span.input-group-btn
                %button.btn.btn-success.btn-number.btn-xs{"data-field" => "quantity2", "data-type" => "plus", :type => "button"}
                  %span.glyphicon.glyphicon-plus
          .clearfix

        %li.list-group-item
          .col-xs-1.pull-left
            %input.icheck-me{:type => 'checkbox', data: {"color" => "blue", "skin" => "square"}}
          .col-xs-3.pull-left
            %a.thumbnail
              = image_tag("tag_cloud.jpg")
          .col-xs-8.pull-left
            %p.title
              我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
            %p.price
              价格: RMB 255
            %a.delete_link.pull-right
              %i.fa.fa-trash
            .input-group.quantity
              %span.input-group-btn
                %button.btn.btn-danger.btn-number.btn-xs{"data-field" => "quantity3", "data-type" => "minus", :type => "button"}
                  %span.glyphicon.glyphicon-minus
              %input.form-control.input-number.input-xs{:max => "100", :min => "1", :name => "quantity3", :type => "text", :value => "10"}/
              %span.input-group-btn
                %button.btn.btn-success.btn-number.btn-xs{"data-field" => "quantity3", "data-type" => "plus", :type => "button"}
                  %span.glyphicon.glyphicon-plus
          .clearfix

        %li.list-group-item
          .col-xs-1.pull-left
            %input.icheck-me{:type => 'checkbox', data: {"color" => "blue", "skin" => "square"}}
          .col-xs-3.pull-left
            %a.thumbnail
              = image_tag("tag_cloud.jpg")
          .col-xs-8.pull-left
            %p.title
              我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,我是罪恶的中文字符,
            %p.price
              价格: RMB 255
            %a.delete_link.pull-right
              %i.fa.fa-trash
            .input-group.quantity
              %span.input-group-btn
                %button.btn.btn-danger.btn-number.btn-xs{"data-field" => "quantity4", "data-type" => "minus", :type => "button"}
                  %span.glyphicon.glyphicon-minus
              %input.form-control.input-number.input-xs{:max => "100", :min => "1", :name => "quantity4", :type => "text", :value => "10"}/
              %span.input-group-btn
                %button.btn.btn-success.btn-number.btn-xs{"data-field" => "quantity4", "data-type" => "plus", :type => "button"}
                  %span.glyphicon.glyphicon-plus
          .clearfix




  .row
    .col-md-12#empty-shopping_cart.text-align-center
      %p
        %i.fa.fa-shopping-cart.fa-12x
      %p
        您的购物车内还没有商品!
      %p
        %a.btn.btn-default
          继续逛逛
        %a.btn.btn-default
          个人中心


.navbar.navbar-default.navbar-fixed-bottom
  .container.good-footer
    .checkAll.paddingtop5.pull-left
      %input.icheck-me#checkAll{:type => 'checkbox', :style => "top", data: {"color" => "blue", "skin" => "square"}}
      %label{for: "checkAll"} 全选
    .shopping-info.pull-left
      %p
        总计:
        RMB 269.00
      %p
        (共 1 件, 不含运费)
    %button.btn.btn-warning.pull-right
      立即购买





:javascript
  my_icheck('.icheck-me');
  $('.btn-number').click(function(e){
      e.preventDefault();

      fieldName = $(this).attr('data-field');
      type      = $(this).attr('data-type');
      var input = $("input[name='"+fieldName+"']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
          if(type == 'minus') {

              if(currentVal > input.attr('min')) {
                  input.val(currentVal - 1).change();
              }
              if(parseInt(input.val()) == input.attr('min')) {
                  $(this).attr('disabled', true);
              }

          } else if(type == 'plus') {

              if(currentVal < input.attr('max')) {
                  input.val(currentVal + 1).change();
              }
              if(parseInt(input.val()) == input.attr('max')) {
                  $(this).attr('disabled', true);
              }

          }
      } else {
          input.val(0);
      }
  });
  $('.input-number').focusin(function(){
     $(this).data('oldValue', $(this).val());
  });
  $('.input-number').change(function() {

      minValue =  parseInt($(this).attr('min'));
      maxValue =  parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());

      name = $(this).attr('name');
      if(valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('对不起, 该值低于最小值, 请重新输入');
          $(this).val($(this).data('oldValue'));
      }
      if(valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('对不起, 该值超过最大值, 请重新输入');
          $(this).val($(this).data('oldValue'));
      }


  });
  $(".input-number").keydown(function (e) {
          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
              (e.keyCode == 65 && e.ctrlKey === true) ||
              (e.keyCode >= 35 && e.keyCode <= 39)) {
                   return;
          }
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
              e.preventDefault();
          }
      });
