.col-md-12
  .page-header
    %h1
      = @article.title
  = I18n.localize(@article.created_at, :format => :long)
  %div
    %blockquote.margintop20
      %p
        = @article.desc

  = raw @article.try(:body)