= render 'tab'
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      = t('.title')
  .panel-body
    #edit_sin_preview.col-md-4.edit_sin_box
      %h4
        Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      .thumb
        %i.default
          = t('.thumb')
      .desc
        sss
    #edit_sin.col-md-8.edit_sin_pic_text
      .inner.well
        dddd
      %i.arrow_out
      %i.arrow_in
