%h3.title-divider
  %span
    = t('.title')
/ panel preview
.alert.alert-info{role: "alert"}
  = t('.notice')
.panel.panel-default
  .panel-body
    .alert.alert-warning{role: "alert"}
      = t('required_note').html_safe
    = render 'form'
