.navbar.navbar-default
  .container
    %ul.nav.navbar-nav#goods-top
      %li
        %button.btn.btn-danger.marginleft5.pull-left
          %span.glyphicon.glyphicon-chevron-left
        %h3
          商品信息
