.navbar.navbar-default
  .container
    %ul.nav.navbar-nav
      %li{:style => "text-align: center;"}
        %button.btn.btn-danger.marginleft5.pull-left
          %span.glyphicon.glyphicon-chevron-left

