/ 只有详情页才显示底部
- if action_name == 'show'
  .navbar.navbar-default.navbar-fixed-bottom
    .container.good-footer
      %button.btn.btn-danger
        加入购物车
      %button.btn.btn-warning.pull-right
        立即购买
