.media.clearfix.padding15.border-top#three-2
  .media-heading.pull-left
    %a.media-left{:href => "#"}
    = image_tag("avatar.png")
  .media-body.clearfix
    %small.pull-right.text-muted
      2014-11-22 18:07:05
    %h4.media-heading
      %a{:href => "#"}
        XXX
      论了你的
      %a{:href => "#"}
        XXX
      文章
    内容简介