.field_with_errors {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

//表单验证
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

//解决下拉菜单和按钮的显示问题
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 900;
}

// 设置bootstro高亮块的边框颜色
.bootstro-highlight{
  border-style: none;
  border-color: transparent;
}

//处理高亮问题
.bootstro-backdrop{
  z-index: 2;
}

//让modal框下移一些
.modal {
  top: 25px;
}

// 覆盖fullpage 每个Selection居中显示
.fp-tableCell{
  vertical-align: top;
}

// 覆盖分辨率变小时右边按钮的颜色
.navbar-default .navbar-toggle {
  border-color: #178acc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #178acc;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
