
//导航条
$navbar-default-bg:                #E72F2F;
$navbar-default-link-hover-bg:     darken($navbar-default-bg, 10%);
$navbar-default-link-active-bg:    darken($navbar-default-bg, 6.5%);
$navbar-default-color:             #FFF;

// 设置标签的内边距
.nav.nav-home >li{
  margin: 0 3.5px;

  > a{
    padding: 5px 10px
  }
}

// 设置商品图片展示
.thumbnail{
  > .img-box{
    text-align: center;
    overflow: hidden;
  }
  > .caption{
    margin-top:5px;
    border: 1px solid #EEE;
  }
}

// 设置底部按钮位置剧中
.good-footer{
  padding: 7.5px;
}


ul#good_nav {
  width: 100%;
  left: 0;
  background-color: #FFF;
  li{
    width: 33.3333%;
    text-align: center;
    a{
      color: #000;
      margin-right: 0;
    }
  }
  li.active > a{
    background-color: $navbar-default-bg;
    color: #FFF;
  }
}

.rm-table-top-border > tbody > tr:first-child > td{
  border-top: 0px;
}
