// 设置标签的内边距
.nav.nav-home >li{
  margin: 0 3.5px;

  > a{
    padding: 5px 10px
  }
}

.thumbnail{

  > .img-box{
    text-align: center;
    overflow: hidden;
  }
  > .caption{
    margin-top:5px;
    border: 1px solid #EEE;
  }
}
