// 设置标签的内边距
.nav.nav-home >li{
  margin: 0 3.5px;

  > a{
    padding: 5px 10px
  }
}

.thumbnail{

  > .img-box{
    text-align: center;
    overflow: hidden;
  }
  > .caption{
    margin-top:5px;
    border: 1px solid #EEE;
  }
}

.good-footer{
  padding: 7.5px;
}


#good_tabs{


  ul {
    background-color: #2fa4e7;
    border-color: #2fa4e7;
    li{
      width: 33.3333%;
      text-align: center;

      a{
        color: #FFF;
        margin-right: 0;
      }
    }

    li.active > a{
      color: #000;
    }
  }
}
