.tableCell
  .section-inner
    .left-section
      .circle-wrapper
        .green.doted-circle.circling
        .green.filled-circle
          .table-wrapper
            .word-wrapper
              %i.fa.fa-credit-card{style: "font-size: 20em;"}
              %h2 微支付
    .right-section
      .article-wrapper
        %h1 微媒支付
        %p.show
          微媒支付，支付就这么简单
          %br/
          在线支付, 操作简便,
          %br/
