.tableCell
  .section-inner
    .left-section
      .article-wrapper
        %h1 多用户管理方式
        %p.show
          微媒提供:
          %br/
          多用户同步操作、实时在线同步
          %br/
    .right-section
      .circle-wrapper
        .red.doted-circle.circling
        .red.filled-circle
          .table-wrapper
            .word-wrapper
              %i.fa.fa-user{style: "font-size: 20em"}
              %h2 多用户同步
