.modal-header
  %button.close{"data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
    %span.sr-only Close
  %h4.modal-title= t('delete_confirm')
.modal-body
  %p
    = t('.confirm')
.modal-footer
  = link_to t('delete'), public_account_sin_material_path, "data-method" => :delete, class: "btn btn-danger"
  %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}
    = t('close')
