.form-group.padding-content
  = label_tag "sin_material[sin_pic_text_attributes][article_address]", t('.link'), class: "col-sm-12 control-label required font-normal"
  .col-sm-12
    #body_or_link_input
      = url_field_tag "sin_material[sin_pic_text_attributes][article_address]", nil, class: "form-control", required: true, placeholder: "http://", value: sin_pic_text.try(:article_address)