.col-md-12
  .error-template
    %h1
      Oops!
    %h2
      404 Not Found
    .error-details
      不好意思, 错误发生了, 请求的页面未找到!
    .error-actions
      %a{:href => "http://xingying.herokuapp.com"}
        回到首页
