= render partial: "material/tab"
.panel.panel-default{style: "margin-top: 30px"}
  .panel-heading
    %h3.panel-title
      = t('.thumb_count', count: @public_account.thumb_count)
  .panel-body
    #pic_content.col-md-12
      = render @thumbs

