- cache support_category do
  = link_to support_categories_path(support_category), class: "list-group-item #{(support_category_counter == 0 && current_page?(supports_path)) || support_category.id == params[:support_category_id].to_i ? 'active' : nil}" do
    .pull-right
      %i.fa.fa-chevron-right
    = support_category.name