.container
  .row
    .col-md-3.margintop20
      .list-group
        = render partial: "supports/support_category", collection: @support_categories


    .col-md-9
      %h2
        %span
          = @support_category.name
      %hr/
      %ul
        = render partial: "supports/support_list", collection: @supports