= render "sidebar_left"

.col-md-9
  .article-header.page-header
    %h2
      = @support.title
  %p.text-muted.pull-right
    = @support.created_at.to_time.strftime('%Y-%m-%d %H:%M:%S')
  .clearfix

  = raw @support.body