.row
  .col-md-12.clearfix
    #picture_upload_form
      .pull-right
        = form_tag upload_public_account_path(@public_account, thumb_group_id: thumb_group_id), method: "post", class: "picture_upload" do
          = file_field_tag "image", :class => "filestyle", "data-buttonText" => t('upload'), "data-input" => false, "data-badge" => false, "data-buttonBefore" => false, "data-buttonName" => "btn-primary", id: "upload"
      .pull-right.marginright20
        %p.help-block
          = t('picture_upload_tip')
        = render "shared/progress"

:javascript
  $(document).ready(function(){
    filestyle();
    picture_upload("#picture_upload_form");
  });
