/*callout部分*/
.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-radius: 3px;
  h4 {
    font-size: 15px;
  }
}

.bs-callout-danger {
  border-left-color: #d9534f;
  h4 {
    color: #d9534f;
  }
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
  h4 {
    color: #f0ad4e;
  }
}

.bs-callout-info {
  border-left-color: #5bc0de;
  h4 {
    color: #5bc0de;
  }
}

.bs-callout {
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  *:last-child, p:last-child {
    margin-bottom: 0;
  }
  > p {
    font-size: 16px;
    line-height: 1.75;
  }
}

.margintop30 {
  margin-top: 30px;
}
.margintop10 {
  margin-top: 10px;
}
.margintop20 {
  margin-top: 20px;
}
.marginleft20 {
  margin-left: 20px;
}
.marginright20 {
  margin-right: 20px;
}
.marginright10 {
  margin-right: 10px;
}
.marginbottom20 {
  margin-bottom: 20px;
}
.marginbottom10 {
  margin-bottom: 10px;
}

.padding-horizontal-15 {
  padding: 0 15px;
}

/*bootstrap的有色text*/
.bg-awesome {
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/*提示框样式*/
.bg-muted {
  background-color: whitesmoke;
  color: #777;
}
.bubble:before{
  background-color: whitesmoke;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 8%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-2x {
  font-size: 2em;
}

.ul-no-style {
  list-style: none;
}