/*提示框*/
$bubble-bg: whitesmoke;
/*联系我们的圆角按钮*/
$round-btn-color: #2FA4E7;
$round-btn-hover-color: #FFF;

/* 不要浮动，修改bootstrap的center-block */
.no-float {
  float: none;
}

/* 垂直表单中label的字体正常 */
.font-normal {
  font-weight: normal;
}

/* 标题加上分隔线 */
.title-divider {
  margin-bottom: 20px;
  background: transparent url(/assets/title_divider.png) repeat-x 0 0;
  span {
    padding-right: 20px;
    background: white;
  }
}

/* 灰色的链接 */
.gray_link {
  color: #b2b2b2;
  height: 34px;
  line-height: 34px;
}

/* callout部分 */
.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 3px;
  border-radius: 3px;
  h4 {
    font-size: 15px;
  }
}
.bs-callout-danger {
  border-left-color: #d9534f;
  h4 {
    color: #d9534f;
  }
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
  h4 {
    color: #f0ad4e;
  }
}
.bs-callout-info {
  border-left-color: #5bc0de;
  h4 {
    color: #5bc0de;
  }
}
.bs-callout {
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  *:last-child,
  p:last-child {
    margin-bottom: 0;
  }
  > p {
    font-size: 16px;
    line-height: 1.75;
  }
}
.margintop30 {
  margin-top: 30px;
}
.margintop10 {
  margin-top: 10px;
}
.margintop20 {
  margin-top: 20px;
}
.marginleft20 {
  margin-left: 20px;
}
.marginright20 {
  margin-right: 20px;
}
.marginright10 {
  margin-right: 10px;
}
.marginbottom20 {
  margin-bottom: 20px;
}
.marginbottom10 {
  margin-bottom: 10px;
}
.padding-horizontal-15 {
  padding: 0 15px;
}
.padding15 {
  padding: 15px;
}
.paddingtop15 {
  padding-top: 15px;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}

/* bootstrap的有色text */
.bg-awesome {
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* 提示框样式 */
.bg-muted {
  background-color: $bubble-bg;
  color: #777;
}
.bubble:before {
  background-color: $bubble-bg;
  content: "\00a0";
  display: block;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 8%;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa-2x {
  font-size: 2em;
}
.ul-no-style {
  list-style: none;
}

/*panel的背景透明*/
.panel-heading.background-color-none {
  background-color: transparent;
}

/* 联系我们大圆角文本框 */
form .form-control.round-text-input {
  padding: 20px 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}


@mixin round-btn-hover {
  color: $round-btn-hover-color;
  background: $round-btn-color;
}

@mixin round-btn($round-btn-color) {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px 15px;
  color: $round-btn-color;
  border: 2px solid $round-btn-color;
  background: none;
  &:hover {
    @include round-btn-hover;
  }
}

/* 联系我们大圆角按钮 */
.round-primary-btn {
  @include round-btn($round-btn-color);
}

// 联系我们圆形图标
i.fa.round-border {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
  border: 2px solid $round-btn-color;
  color: $round-btn-color;
  &:hover {
    @include round-btn-hover;
  }
}
