/*布局*/

#content {
  margin-top: 60px;
}
.nav-h {
  left: 50%;
  margin-left: -150px;
  top: 50px;
  position: absolute;
  > li > a {
    &:hover, &:focus {
      background: #fff;
    }
  }
  .open > a {
    background: #fff;
    &:hover, &:focus {
      background: #fff;
    }
  }
}