.common {
  background: url(/assets/my_icon.png);
  width: 15px;
  height: 13px;
  display: inline-block;
}
.icon-blank-document {
  background-position: 0 0;
}
.icon-multi-picure {
  background-position: -20px 0;
}
.icon-file-alt {
  background-position: -40px 0;
}
.icon-reduce {
  background-position: -60px 0;
}
.icon-amplife {
  background-position: -80px 0;
}
.icon-search {
  background-position: -100px 0;
}
.icon-remove-sign {
  background-position: -120px 0;
}
.icon-plus-sign {
  background-position: -140px 0;
}
.icon-minus-sign {
  background-position: 0 -20px;
}
.icon-one-case-repore {
  background-position: -20px -20px;
}
.icon-two-bar {
  background-position: -40px -20px;
}
.icon-three-bar {
  background-position: -60px -20px;
}
.icon-fully-charged {
  background-position: -80px -20px;
}
.icon-play {
  background-position: -100px -20px;
}
.icon-play-circle {
  background-position: -120px -20px;
}
.icon-volume-off {
  background-position: -140px -20px;
}
.icon-volume-up {
  background-position: 0 -40px;
}
.icon-day-time {
  background-position: -20px -40px;
}
.icon-day-night {
  background-position: -40px -40px;
}
.icon-close-up {
  background-position: -60px -40px;
}
.icon-mighty {
  background-position: -80px -40px;
}
.icon-lock {
  background-position: -100px -40px;
}
.icon-unlock {
  background-position: -120px -40px;
}
.icon-mobile-phone {
  background-position: -140px -40px;
}
.icon-desktop {
  background-position: 0 -60px;
}
.icon-home {
  background-position: -20px -60px;
}
.icon-cogs {
  background-position: -40px -60px;
}
.icon-wrench {
  background-position: -60px -60px;
}
.icon-sun {
  background-position: -80px -60px;
}
.icon-fighter-up {
  background-position: -100px -60px;
}
.icon-cloud {
  background-position: -120px -60px;
}
.icon-fighter-jet {
  background-position: -140px -60px;
}
.icon-chart-bar {
  background-position: 0 -80px;
}
.icon-data-analasis {
  background-position: -20px -80px;
}
.icon-tint {
  background-position: -40px -80px;
}
.icon-track-up {
  background-position: -60px -80px;
}
.icon-location-track {
  background-position: -80px -80px;
}
.icon-temperature-drop {
  background-position: -100px -80px;
}
.icon-suitable-temprature {
  background-position: -120px -80px;
}
.icon-temperature-rise {
  background-position: -140px -80px;
}
.icon-user {
  background-position: 0 -100px;
}
.icon-user-management {
  background-position: -20px -100px;
}
.icon-share {
  background-position: -40px -100px;
}
.icon-ok {
  background-position: -60px -100px;
}
.icon-ok-sign {
  background-position: -80px -100px;
}
.icon-minus {
  background-position: -100px -100px;
}
.icon-miuns-sign {
  background-position: -120px -100px;
}
.icon-star-empty {
  background-position: -140px -100px;
}
.icon-reply {
  background-position: 0 -120px;
}
.icon-video-down {
  background-position: -20px -120px;
}
.icon-video {
  background-position: -40px -120px;
}
.icon-facetime-video {
  background-position: -60px -120px;
}
.icon-video-up {
  background-position: -80px -120px;
}
.icon-warning-sign {
  background-position: -100px -120px;
}
.icon-warning-down {
  background-position: -120px -120px;
}
.icon-star-half {
  background-position: -140px -120px;
}
.icon-spinner {
  background-position: 0 -140px;
}
.icon-pencil-down {
  background-position: -20px -140px;
}
.icon-pencil-up {
  background-position: -40px -140px;
}
.icon-pencil {
  background-position: -60px -140px;
}
.icon-music-up {
  background-position: -80px -140px;
}
.icon-headphones {
  background-position: -100px -140px;
}
.icon-music {
  background-position: -120px -140px;
}
.icon-trash {
  background-position: -140px -140px;
}
.icon-speech-sound {
  background-position: 0 -160px;
}
.icon-location-sign {
  background-position: -20px -160px;
}
.icon-user-sign {
  background-position: -40px -160px;
}
.icon-eye-open {
  background-position: -60px -160px;
}
.icon-qrcode {
  background-position: -80px -160px;
}
.icon-truck {
  background-position: -100px -160px;
}
.icon-folder-open-alt {
  background-position: -120px -160px;
}
.icon-folder-open {
  background-position: -140px -160px;
}
.icon-tag {
  background-position: 0 -180px;
}
.icon-tsgs {
  background-position: -20px -180px;
}
.icon-folder-close-alt {
  background-position: -40px -180px;
}
.icon-folder-close {
  background-position: -60px -180px;
}
.icon-magnet {
  background-position: -80px -180px;
}
.icon-signout {
  background-position: -100px -180px;
}
.icon-signin {
  background-position: -120px -180px;
}
.icon-download-alt {
  background-position: -140px -180px;
}
.icon-public-account-management {
  background-position: 0 -200px;
}
.icon-contact-customer {
  background-position: -20px -200px;
}
.icon-question-sign {
  background-position: -40px -200px;
}
.icon-control-panel {
  background-position: -60px -200px;
}
.icon-material-management {
  background-position: -80px -200px;
}
.icon-automatic-reply {
  background-position: -100px -200px;
}
.icon-custom {
  background-position: -120px -200px;
}
.icon-website-management {
  background-position: -140px -200px;
}
.icon-circle {
  background-position: 0 -220px;
}
.icon-circle-blank {
  background-position: -20px -220px;
}
.icon-exclamation-sign {
  background-position: -40px -220px;
}
.icon-heart {
  background-position: -60px -220px;
}
.icon-heart-empty {
  background-position: -80px -220px;
}
.icon-resize-horizontal {
  background-position: -100px -220px;
}
.icon-resize-vertical {
  background-position: -120px -220px;
}
.icon-retweet {
  background-position: -140px -220px;
}
.icon-align-justify {
  background-position: 0 -240px;
}
.icon-list {
  background-position: -20px -240px;
}
.icon-th-list {
  background-position: -40px -240px;
}
.icon-th-large {
  background-position: -60px -240px;
}
.icon-th {
  background-position: -80px -240px;
}
.icon-repeat {
  background-position: -100px -240px;
}
.icon-undo {
  background-position: -120px -240px;
}
.icon-fullscreen {
  background-position: -140px -240px;
}
.icon-comment {
  background-position: 0 -260px;
}
.icon-road {
  background-position: -20px -260px;
}
.icon-coffee {
  background-position: -40px -260px;
}
.icon-food {
  background-position: -60px -260px;
}
.icon-camera {
  background-position: -80px -260px;
}
.icon-briefcase {
  background-position: -100px -260px;
}
.icon-book {
  background-position: -120px -260px;
}
.icon-film {
  background-position: -140px -260px;
}
.icon-comment-alt {
  background-position: 0 -280px;
}
.icon-camera-plus-sign {
  background-position: -20px -280px;
}
.icon-google-plus-sign {
  background-position: -40px -280px;
}
.icon-twitter-sign {
  background-position: -60px -280px;
}
.icon-linkedin-sign {
  background-position: -80px -280px;
}
.icon-facebook sign {
  background-position: -100px -280px;
}
.icon-flag-alt {
  background-position: -120px -280px;
}
.icon-inbox {
  background-position: -140px -280px;
}
.icon-phone-sign {
  background-position: 0 -300px;
}
.icon-phone {
  background-position: -20px -300px;
}
.icon-google-plus {
  background-position: -40px -300px;
}
.icon-twitter {
  background-position: -60px -300px;
}
.icon-linkedin {
  background-position: -80px -300px;
}
.icon-facebook {
  background-position: -100px -300px;
}
.icon-flag {
  background-position: -120px -300px;
}
.icon-dashboard {
  background-position: -140px -300px;
}
.icon-medkit {
  background-position: 0 -320px;
}
.icon-suitcase {
  background-position: -20px -320px;
}
.icon-h-sign {
  background-position: -40px -320px;
}
.icon-hand-left {
  background-position: -60px -320px;
}
.icon-hand-down {
  background-position: -80px -320px;
}
.icon-hand-up {
  background-position: -100px -320px;
}
.icon-hand-sign {
  background-position: -120px -320px;
}
.icon-hand-right {
  background-position: -140px -320px;
}
.icon-stethoscope {
  background-position: 0 -340px;
}
.icon-quote-right {
  background-position: -20px -340px;
}
.icon-quote-left {
  background-position: -40px -340px;
}
.icon-beer {
  background-position: -60px -340px;
}
.icon-cloud-upload {
  background-position: -80px -340px;
}
.icon-legal {
  background-position: -100px -340px;
}
.icon-ban-cirile {
  background-position: -120px -340px;
}
.icon-align-center {
  background-position: -140px -340px;
}
.icon-paper-clip {
  background-position: 0 -360px;
}
.icon-link {
  background-position: -20px -360px;
}
.icon-save {
  background-position: -40px -360px;
}
.icon-cut {
  background-position: -60px -360px;
}
.cion-paste {
  background-position: -80px -360px;
}
.icon-copy {
  background-position: -100px -360px;
}
.icon-align-left {
  background-position: -120px -360px;
}
.icon-align-right {
  background-position: -140px -360px;
}
.icon-calendar {
  background-position: 0 -380px;
}
.icon-audio-video {
  background-position: -20px -380px;
}
.icon-print {
  background-position: -40px -380px;
}
.icon-light-bulb {
  background-position: -60px -380px;
}
.icon-cloud-upload {
  background-position: -80px -380px;
}
.icon-game {
  background-position: -100px -380px;
}
.icon-leaf {
  background-position: -120px -380px;
}
.icon-github-alt {
  background-position: -140px -380px;
}
.icon-gift {
  background-position: 0 -400px;
}
.icon-bolt {
  background-position: -20px -400px;
}
.icon-asterisk {
  background-position: -40px -400px;
}
.cion-adjust {
  background-position: -60px -400px;
}
.icon-umbrella {
  background-position: -80px -400px;
}
.icon-glass {
  background-position: -100px -400px;
}
.cion-fire {
  background-position: -120px -400px;
}
.icon-shopping-cart {
  background-position: -140px -400px;
}
