.field_with_errors {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

/*表单验证*/
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

/*解决下拉菜单和按钮的显示问题*/
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 900;
}

/* 设置bootstro高亮块的边框颜色 */
.bootstro-highlight{
  border-style: none;
  border-color: transparent;
}

/*处理高亮问题*/
.bootstro-backdrop{
  z-index: 2;
}

/*让modal框下移一些*/
.modal {
  top: 25px;
}