body {
  padding-bottom: 40px;
  color: #666;
}

pre {
  margin: 0;
  padding: 10px 20px !important;
}

footer {
  margin-top: 200px;
}

/*图片预览*/

.imagePreview {
  margin-top: 10px;
  img {
    margin-bottom: 10px;
  }
}

div.styled .imagePreview img {
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

/*标题加上分隔线*/

.title-divider {
  margin-bottom: 20px;
  background: transparent url(/assets/title_divider.png) repeat-x 0 0;
  span {
    padding-right: 20px;
    background: white;
  }
}

/*required note*/
.required:after {
  content: "*";
  color: #a94442;
}

/*单图文编辑框*/
.edit_sin_box {
  overflow: hidden;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  color: #8d8d8d;
  padding: 14px;

  .thumb .default {
    display: block;
    color: #c0c0c0;
    text-align: center;
    line-height: 160px;
    height: 160px;
    font-weight: 400;
    font-style: normal;
    background-color: whitesmoke;
    font-size: 16px;
  }
  .desc {
    padding: 5px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.edit_sin_pic_text {
  padding-left: 12px;
  position: relative;

  .inner {
    padding: 20px;
    border: 1px solid #e7e7eb;
    min-height: 600px;
  }
  .arrow_out {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #e7e7eb;
    border-right-style: solid;
    top: 44px;
    left: 3px;
  }
  .arrow_in {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #f4f5f9;
    border-right-style: solid;
    top: 44px;
    left: 4px;
  }
}

/*垂直表单的格式*/
.padding-content:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/*垂直表单中label的字体正常*/
.font-normal {
  font-weight: normal;
}

/*让进度条更细*/
.progress.min-progress {
  height: 2px;
  margin-top: 5px;
}

.popover.custom-popover {
  position: relative;
  z-index: 1;
}
.popover.bottom.custom-popover > .arrow {
  left: 70px;
}
