body {
  padding-bottom: 40px;
  color: #666;
}

pre {
  margin: 0;
  padding: 10px 20px !important;
}

footer {
  margin-top: 200px;
}

/*图片预览*/

.imagePreview {
  margin-top: 10px;
  img {
    margin: 10px;
  }
}

div.styled .imagePreview img {
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

/*标题加上分隔线*/

.title-divider {
  margin-bottom: 20px;
  background: transparent url(/assets/title_divider.png) repeat-x 0 0;
  span {
    padding-right: 20px;
    background: white;
  }
}

.required:after {
  content: "*";
  color: #a94442;
}
