= @rules_count
-# 显示每个规则
.row.margintop20
  .col-md-12
    - if @rules.empty?
      .bs-callout.bs-callout-default
        %h4= t('.no_content')
    - else
      = render partial: "rules/rule", collection: @rules
-# 分页
.row
  .col-md-12.text-right
    = paginate @rules
