.col-sm-3.col-md-2.col-xs-3.sidebar.pull-left
  %ul.nav.nav-sidebar
    %li.active
      %a{:href => "#{publics_path}"} 公众号管理
    %li
      %a{:href => "#"} 控制面板
    %li
      %a{:href => "#"} 首次关注
    %li
      %a{:href => "#"} 关键字回复
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""} 自定义菜单
    %li
      %a{:href => ""} 微官网
    %li
      %a{:href => ""} 微留言
    %li
      %a{:href => ""} 微客服
    %li
      %a{:href => ""} 微预约
  %ul.nav.nav-sidebar
    %li
      %a{:href => ""} 文章管理
