.col-md-3
  .list-group#sidebar{"style" => "width: 275px;"}
    %a.list-group-item.active{:href => "#"}
      控制面板
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      公众账号管理
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      关键字回复
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      自定义菜单
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      官网管理
