.col-md-3
  .list-group
    %a.list-group-item{:href => "#", :class => (controller_name == "public_accounts" && action_name == "show" ? "active" : nil)}
      .pull-right
        %i.fa.fa-chevron-right
      控制面板
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      公众账号管理
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      关键字回复
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      自定义菜单
    %a.list-group-item{:href => "#"}
      .pull-right
        %i.fa.fa-chevron-right
      官网管理
